<main class="container mx-auto flex mt-14">
  <aside class="w-3/12 mr-4">
    <div>
      <ul class="flex flex-col gap-2 text-gray-700 font-medium mb-10">
        <li class="hover:bg-blue-200 rounded-md">
          <a class="block py-1 px-3">
            <fa-icon [icon]="faTrello"></fa-icon>
            Boards
          </a>
        </li>
        <li class="hover:bg-blue-200 rounded-md">
          <a class="block py-1 px-3">
            <fa-icon [icon]="faBox"></fa-icon>
            Template
          </a>
        </li>
        <li class="hover:bg-blue-200 rounded-md">
          <a class="block py-1 px-3">
            <fa-icon [icon]="faWaveSquare"></fa-icon>
            Home
          </a>
        </li>
      </ul>
      <!-- accordion -->

      <cdk-accordion>
        <cdk-accordion-item #accordionWorkSpace="cdkAccordionItem">
          <!-- para cambiar el estado de la propiedad expand -->
          <button
            class="w-full py-1 px-2 flex justify-between items-center"
            type="button"
            (click)="accordionWorkSpace.toggle()"
          >
            My workspace
            <fa-icon
              [icon]="accordionWorkSpace.expanded ? faAngleUp : faAngleDown"
            >
            </fa-icon>
          </button>
          <!-- -->
          <div [style.display]="accordionWorkSpace.expanded ? '' : 'none'">
            <ul class="ml-2 flex flex-col text-sm text-gray-700">
              <li>
                <a class="block py-1 px-3"
                  ><fa-icon [icon]="faTrello"></fa-icon> Boards</a
                >
              </li>
              <li>
                <a class="block py-1 px-3"
                  ><fa-icon [icon]="faHeart"></fa-icon> Highlights</a
                >
              </li>
              <li>
                <a class="block py-1 px-3"
                  ><fa-icon [icon]="faBorderAll"></fa-icon> Views</a
                >
              </li>
              <li>
                <a class="block py-1 px-3"
                  ><fa-icon [icon]="faUsers"></fa-icon> Members</a
                >
              </li>
              <li>
                <a class="block py-1 px-3"
                  ><fa-icon [icon]="faGear"></fa-icon> Settings</a
                >
              </li>
            </ul>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>

      <!--dinamic accordion  -->
      <cdk-accordion>
        @for (item of itemList; track $index) {

        <cdk-accordion-item #accordionItemList="cdkAccordionItem">
          <button
            class="w-full py-1 px-2 flex justify-between items-center"
            type="button"
            (click)="accordionItemList.toggle()"
          >
            {{ item.label }}
            <fa-icon
              [icon]="accordionWorkSpace.expanded ? faAngleUp : faAngleDown"
            >
            </fa-icon>
          </button>
          @for (subItem of item.items; track $index) {

          <div [style.display]="accordionItemList.expanded ? '' : 'none'">
            <ul class="ml-2 flex flex-col text-sm text-gray-700">
              <li class="block py-1 px-3">
                {{ subItem.label }}
              </li>
            </ul>
          </div>
          }
        </cdk-accordion-item>
        }
      </cdk-accordion>
    </div>
  </aside>

  <section class="w-full">
    <h1 class="flex gap-2 font-bold text-lg">
      <fa-icon [icon]="faClock"></fa-icon>Recently viewed
    </h1>
    <div class="grid grid-cols-4 mt-3 gap-2">
      <div class="w-full h-24 rounded text-white font-bold bg-blue-400 p-1">
        Demo
      </div>
      <div class="w-full h-24 rounded text-white font-bold bg-blue-400 p-1">
        Demo
      </div>
      <div class="w-full h-24 rounded text-white font-bold bg-blue-400 p-1">
        Demo
      </div>
      <div class="w-full h-24 rounded text-white font-bold bg-blue-400 p-1">
        Demo
      </div>
    </div>
  </section>
</main>
