<div class="w-full h-full grow bg-sky-600 px-4 pb-4">
  <div class="flex flex-col h-full">
    <div>
      <h2 class="text-xl font-bold text-white my-4">{{ boards?.title }}</h2>
    </div>

    <!-- cdkDropListGroup para hacer cambio entre listas  -->
    <!--mover cards entre otras (horizontal) 
      cdkDropList
      cdkDropListOrientation="horizontal" -->
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropHorizontal($event)"
      class="flex grow items-start w-full h-full overflow-x-auto"
      cdkDropListGroup
    >
      <!-- cdkDrag para poder mover horizontal las cards -->
      @for (list of boards?.lists; track $index) {
      <div class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0" cdkDrag>
        <div class="flex justify-between py-1">
          <h3 class="text-sm font-bold ml-2">{{ list.title }}</h3>
          <div class="pr-3 cursor-pointer" (click)="deleteColumn(list.id)">
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </div>
        </div>
        <!-- cdkDropList para que no se salgan de esa zona  -->
        <!-- (cdkDropListDropped) captura el evento que se movio  -->
        <!-- [cdkDropListData]="todos" nos lo pide de nuevo para hacer el cambio 
           entre listas en cada lista -->

        <div
          [id]="list.id"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="list.cards"
          class="text-sm mt-2 min-h-[2rem]"
        >
          @for (card of list.cards; track $index) {

          <div
            (click)="openDialog(card)"
            cdkDrag
            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          >
            {{ card.title }}
          </div>
          }
        </div>
        <div class="mt-5">
          @if(!list.showFormCard){
          <div
            class="w-full py-1 px-2 flex justify-between items-center text-center font-light"
          >
            <app-btn color="light" (click)="openFormCard(list)">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span> Add a Card </span>
            </app-btn>
            <fa-icon [icon]="faSquarePollHorizontal"></fa-icon>
          </div>
          } @if(list.showFormCard){
          <div class="rounded bg-gray-200 flex flex-col">
            <input
              placeholder="Enter a title for this card"
              class="w-full rounded font-light"
              type="text"
              [formControl]="newCardCtrl"
              (keydown.enter)="addNewCard(list)"
            />

            <div class="flex items-center px-1 py-1 gap-5 mt-2">
              <app-btn
                (click)="addNewCard(list)"
                [typeBtn]="'button'"
                [color]="'primary'"
              >
                Add card
              </app-btn>
              <!-- bottob close -->
              <button type="button" (click)="closeFormCard(list)">
                <fa-icon class="font-bold" [icon]="faX"></fa-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
      }
      <div>
        @if(!showListForm){

        <div>
          <app-btn
            [typeBtn]="'button'"
            [color]="'light'"
            (click)="showListForm = !showListForm"
          >
            Add another List
          </app-btn>
        </div>
        } @if(showListForm){

        <div>
          <div class="w-80 rounded bg-gray-200 flex flex-col p-3">
            <input
              placeholder="Enter a title for this list"
              class="w-full rounded font-light"
              type="text"
              [formControl]="newListCtrl"
              (keydown.enter)="addNewList()"
            />

            <div class="flex items-center px-1 py-1 gap-5 mt-2">
              <app-btn
                [typeBtn]="'button'"
                [color]="'primary'"
                (click)="addNewList()"
              >
                Add List
              </app-btn>
              <button type="button">
                <fa-icon
                  class="font-bold"
                  [icon]="faX"
                  (click)="closeFormList()"
                ></fa-icon>
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
