<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow bg-white p-6">
    <h1 class="text-xl text-gray-700 font-semibold italic mb-5">Table</h1>
    <!-- [dataSource]="product" pasamos el array  -->
    <table
      class="w-full text-sm text-left text-gray-500"
      cdk-table
      [dataSource]="dataSourceProducts"
    >
      <!-- mostramos el nombre de las columnas del array que creamos  -->
      <!-- headers -->
      <tr
        class="text-xs text-gray-700 uppercase bg-gray-50"
        cdk-header-row
        *cdkHeaderRowDef="colums"
      ></tr>
      <!--  -->
      <tr
        class=""
        cdk-row
        *cdkRowDef="let row; columns: colums"
        [ngClass]="{ 'bg-red-400': row.price < 100 }"
      ></tr>
      <!-- footer -->
      <tr
        cdk-footer-row
        class="text-xl text-gray-700 uppercase bg-gray-200"
        *cdkFooterRowDef="colums"
      ></tr>

      <!-- nivel de celda -->

      <!-- Id column  -->
      <!-- cdkColumnDef="id" tiene que tener el mismo nombre que en el array  -->
      <ng-container cdkColumnDef="id">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef>id</th>
        <td class="px-6 py-4" cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
        <td class="px-6 py-3" cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>

      <!-- title column  -->
      <ng-container cdkColumnDef="title">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef>title</th>
        <td class="px-6 py-4" cdk-cell *cdkCellDef="let row">
          {{ row.title }}
        </td>
        <td class="px-6 py-3" cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>

      <!-- price column  -->
      <ng-container cdkColumnDef="price">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef>price</th>
        <td class="px-6 py-4" cdk-cell *cdkCellDef="let row">
          {{ row.price }}
        </td>
        <td class="px-6 py-3" cdk-footer-cell *cdkFooterCellDef>
          ${{ total }}
        </td>
      </ng-container>

      <!-- cover column  -->
      <ng-container cdkColumnDef="cover">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef>cover</th>
        <td class="px-6 py-4" cdk-cell *cdkCellDef="let row">
          <img [src]="row.images[1]" class="w-12" alt="" />
        </td>
        <td class="px-6 py-3" cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>
      <!-- title column  -->
      <ng-container cdkColumnDef="actions">
        <th class="px-6 py-3" cdk-header-cell *cdkHeaderCellDef>actions</th>
        <td class="px-6 py-4" cdk-cell *cdkCellDef="let row">
          <app-btn color="primary" typeBtn="submit" (click)="update(row)">
            Update
          </app-btn>
        </td>
        <td class="px-6 py-3" cdk-footer-cell *cdkFooterCellDef></td>
      </ng-container>
    </table>
  </div>
</div>
